**/node_modules/
**/dist/
**/charts/
**/constants.js
**/.serverless
**/stats.json
**/yarn.lock
**/yarn-error.log
**/*.lock
**/bin/
**/.terraform/*
.npmrc
**/.npmrc
.vscode/
**/build/
**/.eslintcache
**/.DS_Store
**/zabo-cache/test.js